<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Scott Hut</string>
		<key>description</key>
		<string>Yourself, Joyce, and Richards have been tasked to travel to Scott Hut and assess its potential as a base of operations. After being confined to the ship for weeks, this will be a welcome change.</string>
		<key>image</key>
		<string>Reconnaissance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>preface</string>
	</dict>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>introduction</string>
	</dict>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>5</integer>
		<key>speech</key>
		<string>Start Running Now</string>
	</dict>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap1_segment1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap1_segment2</string>
	</dict>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap1_segment3</string>
	</dict>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap1_segment4</string>
	</dict>
</array>
</plist>
