<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>segment1</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>filename</key>
		<string>chap1_segment1</string>
		<key>followingPause</key>
		<integer>10</integer>
	</dict>
	<key>segment2</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>filename</key>
		<string>chap1_segment2</string>
		<key>followingPause</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
