<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>information</key>
	<dict>
		<key>title</key>
		<string>The Ship</string>
		<key>description</key>
		<string>After discovering Scott Hut in good condtion, travel back to the ship and inform the expedtion of your findings.</string>
		<key>image</key>
		<string>OldWoodenShip</string>
	</dict>
	<key>segment1</key>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap2_segment1</string>
	</dict>
	<key>segment2</key>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>10</integer>
	</dict>
	<key>segment3</key>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap2_segment2</string>
	</dict>
	<key>segment4</key>
	<dict>
		<key>type</key>
		<string>pause</string>
		<key>length</key>
		<integer>10</integer>
	</dict>
	<key>segment5</key>
	<dict>
		<key>type</key>
		<string>audio</string>
		<key>filename</key>
		<string>chap2_segment3</string>
	</dict>
</dict>
</plist>
